* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}

/* .main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: aquamarine;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 600px;
  background-color: rgb(150, 127, 255);
}

.clock_dial {
  width: 500px;
  height: 500px;
  background: #616161;
  border-radius: 250px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second_hand {
  position: absolute;
  width: 10px;
  height: 480px;
}

.second_hand_colored {
  width: 10px;
  height: 240px;
  background: #904db6;
}

#minute_hand {
  position: absolute;
  width: 10px;
  height: 440px;
}

.minute_hand_colored {
  width: 10px;
  height: 220px;
  background: #4d4fb6;
}

#hourse_hand {
  position: absolute;
  width: 10px;
  height: 240px;
}

.hourse_hand_colored {
  width: 10px;
  height: 120px;
  background: #0d2e15;
}