* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  background-color: #FAFAFA;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 250px;
}

.box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
}

.clock_dial_bezel {
  width: 225px;
  height: 225px;
  background: #424242;
  border-radius: 290px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clock_dial_numbers {
  width: 220px;
  height: 220px;
  background: #616161;
  border-radius: 110px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_1_clock{
  position: absolute;
  top: 12%;
  right: 29%;
  transform: rotate(30deg);
}

.number_2_clock{
  position: absolute;
  top: 27%;
  right: 14%;
  transform: rotate(60deg);
}

.number_3_clock{
  position: absolute;
  right: 4%;
}

.number_4_clock{
  position: absolute;
  top: 69%;
  right: 13%;
  transform: rotate(120deg);
}

.number_5_clock{
  position: absolute;
  top: 85%;
  right: 29%;
  transform: rotate(150deg);
}

.number_6_clock{
  position: absolute;
  bottom: 1%;
}

.number_7_clock{
  position: absolute;
  top: 85%;
  right: 71%;
  transform: rotate(210deg);
}

.number_8_clock{
  position: absolute;
  top: 69%;
  right: 86%;
  transform: rotate(240deg);
}

.number_9_clock{
  position: absolute;
  left: 4%;
  
}

.number_10_clock{
  position: absolute;
  top: 27%;
  right: 86%;
  transform: rotate(300deg);
}

.number_11_clock{
  position: absolute;
  top: 12%;
  left: 29%;
  transform: rotate(330deg);
}

.number_12_clock{
  position: absolute;
  top: 1%;
}

.form-numbers {
  font-size: 36px;
  color: #424242;
  z-index: 2;
}

.hour_divisions {
  background-color: #424242;
  width: 2px;
  height: 10px;
  z-index: 2
}

.clock_dial {
  width: 210px;
  height: 210px;
  background: #E0E0E0;
  border-radius: 105px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_tick {
  position: absolute;
  width: 2px;
  height: 180px;
}

.second_tick_colored {
  width: 2px;
  height: 90px;
  background: #212121;
}

.minute_tick {
  position: absolute;
  width: 3px;
  height: 150px;
}

.minute_tick_colored {
  width: 3px;
  height: 75px;
  background: #1a1a1a;
}

.hours_tick {
  position: absolute;
  width: 4px;
  height: 100px;
}

.hours_tick_colored {
  width: 4px;
  height: 50px;
  background: #222222;
}

